<a href="https://colab.research.google.com/github/vu-topics-in-big-data-2023/examples/blob/main/example-pandas/pandas_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
# load the IMDB movie file here.

!wget https://github.com/vu-topics-in-big-data-2023/examples/raw/main/example-pandas/IMDB-Movie-Data.csv

{}

In [23]:
!ls -l

total 308
-rw-r--r-- 1 root root 309767 Mar  6 18:34 IMDB-Movie-Data.csv
drwxr-xr-x 1 root root   4096 Mar  1 14:35 sample_data

In [24]:
import pandas as pd

In [25]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")
movies_df.head()

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0

[5 rows x 11 columns]

In [26]:
movies_df.loc["Prometheus"]

Rank                                                                  2
Genre                                          Adventure,Mystery,Sci-Fi
Description           Following clues to the origin of mankind, a te...
Director                                                   Ridley Scott
Actors                Noomi Rapace, Logan Marshall-Green, Michael Fa...
Year                                                               2012
Runtime (Minutes)                                                   124
Rating                                                                7
Votes                                                            485820
Revenue (Millions)                                               126.46
Metascore                                                            65
Name: Prometheus, dtype: object

In [27]:
movies_df.tail(2)

              Rank                  Genre  ... Revenue (Millions) Metascore
Title                                      ...
Search Party   999       Adventure,Comedy  ...                NaN      22.0
Nine Lives    1000  Comedy,Family,Fantasy  ...              19.64      11.0

[2 rows x 11 columns]

In [28]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 133.8+ KB

In [29]:
movies_df.shape

(1000, 11)

In [30]:
temp_df = movies_df.append(movies_df)
temp_df.shape

(2000, 11)

In [31]:
temp_df = temp_df.drop_duplicates()

temp_df.shape

(1000, 11)

In [32]:
temp_df.drop_duplicates(inplace=True)

In [33]:
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [34]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue_millions', 'Metascore'],
      dtype='object')

In [35]:
movies_df.columns = [col.lower() for col in movies_df]

In [36]:
#isnull() returns a DataFrame where each cell is either True or False depending on that cell's null status.
movies_df.isnull()

                          rank  genre  ...  revenue_millions  metascore
Title                                  ...
Guardians of the Galaxy  False  False  ...             False      False
Prometheus               False  False  ...             False      False
Split                    False  False  ...             False      False
Sing                     False  False  ...             False      False
Suicide Squad            False  False  ...             False      False
...                        ...    ...  ...               ...        ...
Secret in Their Eyes     False  False  ...              True      False
Hostel: Part II          False  False  ...             False      False
Step Up 2: The Streets   False  False  ...             False      False
Search Party             False  False  ...              True      False
Nine Lives               False  False  ...             False      False

[1000 rows x 11 columns]

In [37]:
#To count the number of nulls in each column we use an aggregate function for summing:
movies_df.isnull().sum()

rank                  0
genre                 0
description           0
director              0
actors                0
year                  0
runtime               0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64

In [38]:
#removing null values
#This operation will delete any row with at least a single null value, but it will return a new DataFrame without altering the original one. You could specify inplace=True in this method as well.
movies_df.dropna()

                          rank  ... metascore
Title                           ...
Guardians of the Galaxy      1  ...      76.0
Prometheus                   2  ...      65.0
Split                        3  ...      62.0
Sing                         4  ...      59.0
Suicide Squad                5  ...      40.0
...                        ...  ...       ...
Resident Evil: Afterlife   994  ...      37.0
Project X                  995  ...      48.0
Hostel: Part II            997  ...      46.0
Step Up 2: The Streets     998  ...      50.0
Nine Lives                1000  ...      11.0

[838 rows x 11 columns]

In [39]:
#drop columns with null
#axis 1 is the second dimension which is the columns
movies_df.dropna(axis=1)

                         rank                     genre  ... rating   votes
Title                                                    ...
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi  ...    8.1  757074
Prometheus                  2  Adventure,Mystery,Sci-Fi  ...    7.0  485820
Split                       3           Horror,Thriller  ...    7.3  157606
Sing                        4   Animation,Comedy,Family  ...    7.2   60545
Suicide Squad               5  Action,Adventure,Fantasy  ...    6.2  393727
...                       ...                       ...  ...    ...     ...
Secret in Their Eyes      996       Crime,Drama,Mystery  ...    6.2   27585
Hostel: Part II           997                    Horror  ...    5.5   73152
Step Up 2: The Streets    998       Drama,Music,Romance  ...    6.2   70699
Search Party              999          Adventure,Comedy  ...    5.6    4881
Nine Lives               1000     Comedy,Family,Fantasy  ...    5.3   12435

[1000 rows x 9 columns]

In [40]:
#extract out a particular column
revenue = movies_df['revenue_millions']
revenue.head()

Title
Guardians of the Galaxy    333.13
Prometheus                 126.46
Split                      138.12
Sing                       270.32
Suicide Squad              325.02
Name: revenue_millions, dtype: float64

In [41]:
#calculate mean
revenue_mean = revenue.mean()
revenue.fillna(revenue_mean, inplace=True)
movies_df.isnull().sum()

rank                 0
genre                0
description          0
director             0
actors               0
year                 0
runtime              0
rating               0
votes                0
revenue_millions     0
metascore           64
dtype: int64

In [42]:
#statiscal summary
movies_df.describe()

              rank         year  ...  revenue_millions   metascore
count  1000.000000  1000.000000  ...       1000.000000  936.000000
mean    500.500000  2012.783000  ...         82.956376   58.985043
std     288.819436     3.205962  ...         96.412043   17.194757
min       1.000000  2006.000000  ...          0.000000   11.000000
25%     250.750000  2010.000000  ...         17.442500   47.000000
50%     500.500000  2014.000000  ...         60.375000   59.500000
75%     750.250000  2016.000000  ...         99.177500   72.000000
max    1000.000000  2016.000000  ...        936.630000  100.000000

[8 rows x 7 columns]

In [43]:
#By using the correlation method .corr() we can generate the relationship between each continuous variable:
movies_df.corr()

                      rank      year  ...  revenue_millions  metascore
rank              1.000000 -0.261605  ...         -0.252996  -0.191869
year             -0.261605  1.000000  ...         -0.117562  -0.079305
runtime          -0.221739 -0.164900  ...          0.247834   0.211978
rating           -0.219555 -0.211219  ...          0.189527   0.631897
votes            -0.283876 -0.411904  ...          0.607941   0.325684
revenue_millions -0.252996 -0.117562  ...          1.000000   0.133328
metascore        -0.191869 -0.079305  ...          0.133328   1.000000

[7 rows x 7 columns]

In [44]:
#extract from dataframes
genre_col = movies_df['genre']

type(genre_col)

pandas.core.series.Series

In [45]:
subset = movies_df[['genre', 'rating']]

In [46]:
movie_subset = movies_df.loc['Prometheus':'Sing']

movie_subset = movies_df.iloc[1:4]

movie_subset
#slicing with loc includes the last entry - iloc excludes the last entry

            rank                     genre  ... revenue_millions metascore
Title                                       ...
Prometheus     2  Adventure,Mystery,Sci-Fi  ...           126.46      65.0
Split          3           Horror,Thriller  ...           138.12      62.0
Sing           4   Animation,Comedy,Family  ...           270.32      59.0

[3 rows x 11 columns]

In [47]:
#search - conditions
condition = (movies_df['director'] == "Ridley Scott")

In [48]:
movies_df[movies_df['rating'] >= 8.6].head(3)

                 rank                    genre  ... revenue_millions metascore
Title                                           ...
Interstellar       37   Adventure,Drama,Sci-Fi  ...           187.99      74.0
The Dark Knight    55       Action,Crime,Drama  ...           533.32      82.0
Inception          81  Action,Adventure,Sci-Fi  ...           292.57      74.0

[3 rows x 11 columns]

In [49]:
#you can combine filters
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')].head()

                 rank                     genre  ... revenue_millions metascore
Title                                            ...
Prometheus          2  Adventure,Mystery,Sci-Fi  ...           126.46      65.0
Interstellar       37    Adventure,Drama,Sci-Fi  ...           187.99      74.0
The Dark Knight    55        Action,Crime,Drama  ...           533.32      82.0
The Prestige       65      Drama,Mystery,Sci-Fi  ...            53.08      66.0
Inception          81   Action,Adventure,Sci-Fi  ...           292.57      74.0

[5 rows x 11 columns]

In [50]:
#complex search
movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

                     rank               genre  ... revenue_millions metascore
Title                                          ...
3 Idiots              431        Comedy,Drama  ...             6.52      67.0
The Lives of Others   477      Drama,Thriller  ...            11.28      89.0
Incendies             714   Drama,Mystery,War  ...             6.86      80.0
Taare Zameen Par      992  Drama,Family,Music  ...             1.20      42.0

[4 rows x 11 columns]

In [51]:
#applying functions
movies_df["rating_category"] = movies_df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')

movies_df.head(2)

                         rank  ... rating_category
Title                          ...
Guardians of the Galaxy     1  ...            good
Prometheus                  2  ...             bad

[2 rows x 12 columns]